Repository voxel51/voxelgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^examples/
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^examples/
        language_version: system

bc "_MORE_" & "_CONFUSED_", need lower sometimes
  links/dataset_view_generator.py
Due: pylint

handling case with text_sim and no label field
  gpt_view_generator.py
  links/view_stage_example_selector.py
Due: pylint

converted filtering rep to func
  links/view_stage_example_selector.py
Due: pylint

more NER examples
  examples/fiftyone_label_class_examples.csv
Due: none

content moderation validation
  links/query_validator.py
  links/utils.py
Due: pylint

moderation for effective query
  gpt_view_generator.py
  links/query_validator.py
Due: pylint

revamping moderation
  gpt_view_generator.py
  links/query_validator.py
  links/utils.py
Due: pylint

wip testing
  tests/test_prompts.py
Due: pylint

use flagged status for moderation
  links/utils.py
Due: pylint

README updates
  README.md
Due: none

wip tests
  tests/test_prompts.py
Due: pylint

waypoint: tests/test_prompts operational
  pytest.ini
  tests/test_prompts.py
Due: pylint

rm test dataset notebooks
  tests/allen_test.ipynb
  tests/qs_eval.ipynb
  tests/qs_keypts.ipynb
  tests/qsv-test00.ipynb
  tests/qsv-test01.ipynb
Due: ipynb-strip

rm unnecessary file
  tests/quickstart-video-augmented.py
Due: pylint

run precommit hooks
  tests/test_prompts.py
Due: pylint

linting
  label_descriptions.json
  view_stage_descriptions.json
Due: none

formatting markdown for GPT outputs
  gpt_view_generator.py
Due: pylint

formatting for no class case
  gpt_view_generator.py
Due: pylint

add placement to launch voxel gpt panel
  __init__.py
  assets/chatgpt.svg
  fiftyone.yml
Due: pylint

match/filter --> text_similarity
  gpt_view_generator.py
  links/dataset_view_generator.py
Due: pylint

make examples clickable and enhance light theme
  .yarn/install-state.gz
  dist/index.umd.js
  src/Chat.tsx
  src/InputBar.tsx
  src/Intro.tsx
  src/Message.tsx
  src/state.ts
Due: none

wire up
  __init__.py
  dist/index.umd.js
  links/run_selector.py
  src/SendMessageToGPT.ts
Due: pylint

enhance auto scroll to bottom
  .pnp.cjs
  .prettierrc.js
  .yarn/install-state.gz
  dist/index.umd.js
  package.json
  src/Chat.tsx
  src/constants.ts
  yarn.lock
Due: none

fix exception on panel close
  dist/index.umd.js
  src/Chat.tsx
Due: none

skip operator prompt for placement
  __init__.py
Due: pylint

set panel active on clicking placement if opened
  __init__.py
Due: pylint

changing default sim_sort from 25 --> 100
  links/dataset_view_generator.py
Due: pylint

drop pins
  requirements.txt
Due: none

rebranding main entrypoint to voxelgpt.py
  README.md
  __init__.py
  testing.ipynb
  tests/test_prompts.py
  tests/test_simple_functions.py
  voxelgpt.py
Due: pylint, ipynb-strip

polish and loading indicator
  .yarn/install-state.gz
  __init__.py
  dist/index.umd.js
  links/effective_query_generator.py
  src/Chat.tsx
  src/LoadingIndicator.tsx
  src/Message.tsx
  src/SendMessageToGPT.ts
  src/ShowMessage.ts
  src/state.ts
Due: pylint

fix receiving stae
  src/Message.tsx
Due: none

fix padding and spacing
  dist/index.umd.js
  src/Actions.tsx
  src/Intro.tsx
  src/Message.tsx
Due: none
