Repository voxel51/voxelgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^dist/index.umd.js
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^dist/index.umd.js
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^dist/index.umd.js
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^dist/index.umd.js
        language_version: system

fix un-clickable links
  dist/index.umd.js
  src/Message.tsx
Due: none

auto split and auto launch panel
  .yarn/install-state.gz
  __init__.py
  dist/index.umd.js
Due: pylint

fix error view
  __init__.py
Due: pylint

onstartup logic
  __init__.py
Due: pylint

attempt to check for non-null confidence field
  links/dataset_view_generator.py
Due: pylint

width fixes and final intro content
  dist/index.umd.js
  src/Chat.tsx
  src/Intro.tsx
  src/Message.tsx
Due: none

updating README - not done yet
  README.md
Due: none

still need to FILL IN
  README.md
Due: none

running pre-commit hooks
  README.md
Due: none

editing pass
  README.md
Due: none

removing test notebook
  testing.ipynb
Due: ipynb-strip

another editing pass
  README.md
Due: none

sample_collection is optional
  __init__.py
  voxelgpt.py
Due: pylint

filling in some examples
  README.md
Due: none

backfill any run keys if possible
  links/dataset_view_generator.py
Due: pylint

filter by evaluation type
  links/run_selector.py
Due: pylint

filter on evaluations and eval label types
  links/view_stage_example_selector.py
Due: pylint

cleanup
  .gitignore
Due: none

filling in missing examples
  README.md
Due: none

formatting
  README.md
Due: none

reset view if dataset changes
  __init__.py
Due: pylint

adding docs keywords
  links/query_intent_classifier.py
Due: pylint

add docs keywords to README
  README.md
Due: none

Update README.md
  README.md
Due: none

don't open panel on startup
  __init__.py
Due: pylint

adding references to FO plugin framework
  README.md
Due: none

fixing table
  README.md
Due: none

fix panel button
  __init__.py
  fiftyone.yml
Due: pylint

add setting for auto open
  __init__.py
Due: pylint

refactoring to use get_plugin_setting util
  __init__.py
Due: pylint

unlisted
  __init__.py
Due: pylint

archive script
  .gitignore
  package.json
  scripts/archive.sh
Due: none

add version bumpt script
  fiftyone.yml
  package.json
  scripts/update_version.py
Due: pylint

copy docs to local dir if pkg location isn't writeable
  .gitignore
  links/docs_query_dispatcher.py
  links/utils.py
Due: pylint
