Repository voxel51/voxelgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^examples/
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^examples/
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^examples/
        language_version: system

rebranding as VoxelGPT; adding dialect parameter
  __init__.py
  fiftyone.yml
  src/SendMessageToGPT.ts
  tests/test_prompts.py
  tests/test_simple_functions.py
  voxelgpt.py
Due: pylint

refactor for cv & docs queries
  examples/fiftyone_query_intent_examples.csv
  gpt_view_generator.py
  links/computer_vision_query_dispatcher.py
  links/docs_query_dispatcher.py
  links/query_intent_classifier.py
  prompts/computer_vision_query_task_rules.txt
  prompts/intent_classification_task_rules.txt
Due: pylint

modify effective prompt gen task
  prompts/effective_prompt_generator_prefix.txt
Due: none

remove unused files
  examples/fiftyone_query_validation_examples.csv
  prompts/confused_task_rules.txt
Due: none

updating signature
  README.md
Due: none

only load views if different
  __init__.py
  voxelgpt.py
Due: pylint

tweaks
  dist/index.umd.js
  src/FiftyoneGPT.tsx
  voxelgpt.py
Due: pylint

updating prompt
  __init__.py
Due: pylint

updating function name
  testing.ipynb
Due: ipynb-strip

run pre-commit hooks
  links/computer_vision_query_dispatcher.py
  links/docs_query_dispatcher.py
  links/query_intent_classifier.py
Due: pylint

linting
  links/computer_vision_query_dispatcher.py
  links/docs_query_dispatcher.py
Due: pylint

README updates
  README.md
Due: none

rebranding main entrypoint to voxelgpt.py
  README.md
  __init__.py
  testing.ipynb
  tests/test_prompts.py
  tests/test_simple_functions.py
  voxelgpt.py
Due: pylint, ipynb-strip

drop pins
  requirements.txt
Due: none

rebranding as VoxelGPT; adding dialect parameter
  __init__.py
  dist/index.umd.js
  fiftyone.yml
  src/SendMessageToGPT.ts
  tests/test_prompts.py
  tests/test_simple_functions.py
  voxelgpt.py
Due: pylint

no FIFTYONE_DIR env var
  links/docs_query_dispatcher.py
Due: pylint

sample_collection is now optional
  voxelgpt.py
Due: pylint

error
  voxelgpt.py
Due: pylint

fix panel id
  dist/index.umd.js
  src/FiftyoneGPT.tsx
Due: none

running yarn install
  .yarn/cache/@mui-styled-engine-npm-5.12.3-7512b59aef-bd96f27601.zip
  .yarn/cache/@mui-styled-engine-sc-npm-5.12.0-d76f35e967-ee2ec4e19d.zip
  .yarn/cache/esbuild-darwin-64-npm-0.15.18-c3c12de20e-8.zip
  .yarn/install-state.gz
  yarn.lock
Due: none

yarn install
  .yarn/install-state.gz
Due: none

markdown fixes
  voxelgpt.py
Due: pylint

rebuilding plugin
  dist/index.umd.js
Due: none

prettifying markdown
  voxelgpt.py
Due: pylint

bugs
  voxelgpt.py
Due: pylint

make docs_db retriever global
  links/docs_query_dispatcher.py
Due: pylint
