Repository voxel51/voxelgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
        args: ["-l 79"]
        exclude: ^dist/index.umd.js
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["-l 79"]
        exclude: ^dist/index.umd.js
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        language: system
        files: \.py$
        entry: pylint
        args: ["--errors-only"]
        exclude: ^dist/index.umd.js
  - repo: local
    hooks:
      - id: ipynb-strip
        name: ipynb-strip
        language: system
        files: \.ipynb$
        entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
        args: ["--log-level=ERROR"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        exclude: ^dist/index.umd.js
        language_version: system

make path absolute for use in app
  links/docs_query_dispatcher.py
Due: pylint

linting
  links/dataset_view_generator.py
  links/docs_query_dispatcher.py
  links/effective_query_generator.py
  links/utils.py
  voxelgpt.py
Due: pylint

react merge testing
  tests/test_prompts.py
Due: pylint

remember original view for conversations
  __init__.py
Due: pylint

NER class name enforcing
  links/dataset_view_generator.py
  prompts/dataset_view_generator_prefix.txt
Due: pylint

add links to docs QA reponses
  links/docs_query_dispatcher.py
Due: pylint

fix un-clickable links
  dist/index.umd.js
  src/Message.tsx
Due: none

remove cat and dog b/c of confusion
  prompts/effective_prompt_generator_prefix.txt
Due: none

handle length() in match
  links/dataset_view_generator.py
Due: pylint

postprocess label field
  links/dataset_view_generator.py
Due: pylint

fix history
  __init__.py
  voxelgpt.py
Due: pylint

reinstalling
  dist/index.umd.js
Due: none

cleanup
  __init__.py
Due: pylint

fix chat history
  __init__.py
Due: pylint

manually pass in OpenAI key
  links/utils.py
Due: pylint

more renaming to voxelgpt
  .yarn/install-state.gz
  README.md
  dist/index.umd.js
  package.json
  src/VoxelGPT.tsx
  src/state.ts
  yarn.lock
Due: none

updating plugin name
  fiftyone.yml
Due: none

renaming send_message_to_gpt to send_message_to_voxelgpt
  .pre-commit-config.yaml
  __init__.py
  dist/index.umd.js
  src/SendMessageToVoxelGPT.ts
  src/VoxelGPT.tsx
Due: pylint

converted filtering rep to func
  links/view_stage_example_selector.py
Due: pylint

more NER examples
  examples/fiftyone_label_class_examples.csv
Due: none

bc "_MORE_" & "_CONFUSED_", need lower sometimes
  links/dataset_view_generator.py
Due: pylint

swapping order of links for flexibility
  gpt_view_generator.py
Due: pylint

handling case with text_sim and no label field
  gpt_view_generator.py
  links/view_stage_example_selector.py
Due: pylint

inserting keys into examples
  gpt_view_generator.py
  links/view_stage_example_selector.py
Due: pylint

fixing metadata queries
  examples/fiftyone_viewstage_examples.csv
Due: none

Fixing bug with run selection
  links/run_selector.py
Due: pylint

formatting markdown for GPT outputs
  gpt_view_generator.py
Due: pylint

make examples clickable and enhance light theme
  .yarn/install-state.gz
  dist/index.umd.js
  src/Chat.tsx
  src/InputBar.tsx
  src/Intro.tsx
  src/Message.tsx
  src/state.ts
Due: none

match/filter --> text_similarity
  gpt_view_generator.py
  links/dataset_view_generator.py
Due: pylint

linting
  label_descriptions.json
  view_stage_descriptions.json
Due: none

enhance auto scroll to bottom
  .pnp.cjs
  .prettierrc.js
  .yarn/install-state.gz
  dist/index.umd.js
  package.json
  src/Chat.tsx
  src/constants.ts
  yarn.lock
Due: none

moderation for effective query
  gpt_view_generator.py
  links/query_validator.py
Due: pylint

rebranding main entrypoint to voxelgpt.py
  README.md
  __init__.py
  testing.ipynb
  tests/test_prompts.py
  tests/test_simple_functions.py
  voxelgpt.py
Due: pylint, ipynb-strip

changing default sim_sort from 25 --> 100
  links/dataset_view_generator.py
Due: pylint
