Repository voxel51/voxelgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ipynb-strip

pylint:
  name: pylint
  language: system
  entry: pylint
  args:
  - --errors-only

ipynb-strip:
  name: ipynb-strip
  language: system
  entry: jupyter nbconvert --clear-output --ClearOutputPreprocessor.enabled=True
  args:
  - --log-level=ERROR

use flagged status for moderation
  links/utils.py
Due: pylint

rebranding as VoxelGPT; adding dialect parameter
  __init__.py
  fiftyone.yml
  src/SendMessageToGPT.ts
  tests/test_prompts.py
  tests/test_simple_functions.py
  voxelgpt.py
Due: pylint

README updates
  README.md
Due: none

formatting for no class case
  gpt_view_generator.py
Due: pylint

drop pins
  requirements.txt
Due: none

revamping moderation
  gpt_view_generator.py
  links/query_validator.py
  links/utils.py
Due: pylint

content moderation validation
  links/query_validator.py
  links/utils.py
Due: pylint

wire up
  __init__.py
  dist/index.umd.js
  links/run_selector.py
Due: pylint

add placement to launch voxel gpt panel
  __init__.py
  assets/chatgpt.svg
Due: pylint

fix exception on panel close
  dist/index.umd.js
  src/Chat.tsx
Due: none

set panel active on clicking placement if opened
  __init__.py
Due: pylint

skip operator prompt for placement
  __init__.py
Due: pylint

polish and loading indicator
  .yarn/install-state.gz
  __init__.py
  dist/index.umd.js
  links/effective_query_generator.py
  src/Chat.tsx
  src/LoadingIndicator.tsx
  src/Message.tsx
  src/SendMessageToGPT.ts
  src/ShowMessage.ts
  src/state.ts
Due: pylint

fix receiving stae
  src/Message.tsx
Due: none

fix padding and spacing
  dist/index.umd.js
  src/Actions.tsx
  src/Intro.tsx
  src/Message.tsx
Due: none

updating signature
  README.md
Due: none

only load views if different
  __init__.py
  voxelgpt.py
Due: pylint

tweaks
  dist/index.umd.js
  src/FiftyoneGPT.tsx
  voxelgpt.py
Due: pylint

updating function name
  testing.ipynb
Due: ipynb-strip

updating prompt
  __init__.py
Due: pylint

running yarn install
  .yarn/cache/@mui-styled-engine-npm-5.12.3-7512b59aef-bd96f27601.zip
  .yarn/cache/@mui-styled-engine-sc-npm-5.12.0-d76f35e967-ee2ec4e19d.zip
  .yarn/cache/esbuild-darwin-64-npm-0.15.18-c3c12de20e-8.zip
  .yarn/install-state.gz
  yarn.lock
Due: none

fix panel id
  dist/index.umd.js
  src/FiftyoneGPT.tsx
Due: none

yarn install
  .yarn/install-state.gz
Due: none

markdown fixes
  voxelgpt.py
Due: pylint

rebuilding plugin
  dist/index.umd.js
Due: none

bugs
  voxelgpt.py
Due: pylint

prettifying markdown
  voxelgpt.py
Due: pylint

fix errors and add prompt example
  __init__.py
  dist/index.umd.js
  package.json
  src/Chat.tsx
  src/Message.tsx
  vite.config.js
Due: pylint

updating plugin name
  fiftyone.yml
Due: none

fix un-clickable links
  dist/index.umd.js
  src/Message.tsx
Due: none

more renaming to voxelgpt
  .yarn/install-state.gz
  README.md
  dist/index.umd.js
  package.json
  src/VoxelGPT.tsx
  src/state.ts
  yarn.lock
Due: none

renaming send_message_to_gpt to send_message_to_voxelgpt
  .pre-commit-config.yaml
  __init__.py
  dist/index.umd.js
  src/SendMessageToVoxelGPT.ts
  src/VoxelGPT.tsx
Due: pylint

cleanup
  __init__.py
Due: pylint

manually pass in OpenAI key
  links/utils.py
Due: pylint

fix chat history
  __init__.py
Due: pylint

fix history
  __init__.py
  voxelgpt.py
Due: pylint

remember original view for conversations
  __init__.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^dist/index.umd.js
  ipynb-strip: any of: \.ipynb$
